<marquee behavior="scroll" direction="up" height="100" scrollamount="2">
  <p id="marquee-style">
    Today is <strong><%= Time.now.utc.to_date.strftime("%A, %d/%m/%Y") %></strong>
  </p>
  <% User.all.each do |user| %>
    <% if user.birthday_today? %>
          <p id="marquee-style">
            Wish you many more happy returns of the day <strong><%= user.name %></strong>
          </p>
    <% end %>
  <% end %>
  <% User.all.each do |user| %>
      <% if user.anniversary_today? %>
          <p id="marquee-style">
            Happy wedding anniversary to you  <strong><%= user.name %></strong> & your soul mate !!!
          </p>
      <% end %>
  <% end %>
</marquee>